A IMG { border-style:none; }

#mainwrapper { position:relative; width:777px; margin:auto; }
#sociallinks { position:absolute; height:24px; padding:4px 4px 4px 0; background:#FFF; border:1px solid #333;border-radius:5px; right:15px; top:155px; }
#sociallinks a { padding-left:4px; }

.subnav {
font-family: arial;
font-size: 10px;
text-align:right;
position:absolute;
top:-25px;
right:20px;
width:100%;
}

.subnav IMG { margin-right:2px; vertical-align:text-bottom;}
.subnav A { padding-left:8px; }

.title {
position:absolute;
top:-60px;
}

.content { position:relative; }

A.itemlink {
color: #FFFFFF;
text-decoration: none;
font family: arial;
font-size: 8pt;
}
A.itemlink:HOVER {
color: #FEDA7B;
text-decoration: none;
font family: arial;
font-size: 8pt;
}
A.menu {
color:		 #FFFFFF;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold
}
A.menu:HOVER {
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
color: #FEDA7B;
}
A.menuitem {
color:		 #FFFFFF;
font-family: helvetica;
font-size: 7pt;
}
A.menuitem:HOVER {
font-family: helvetica;
font-size: 7pt;
color: #FEDA7B;
}
A.header {
color:		#FFFFFF;
text-decoration: none;
font-family: helvetica;
font-size: 10pt;
}
A.header:HOVER {
text-decoration: none;
font-family: helvetica;
font-size: 10pt;
color:#FEDA7B;
}

BODY {
FONT-FAMILY: arial, helvetica;
FONT-SIZE: 12px;
}
TD.small {
FONT-FAMILY: arial, helvetica;
FONT-SIZE: 10px;
color: #FFFFFF;
}
.pipe {
color:		 #FFFFFF;
text-decoration: none;
font-family: helvetica;
font-size: 8pt;
}
.slogan {
color:		#FFFFFF;
text-decoration: none;
font-family: helvetica;
font-size: 10pt;
font-style: italic;
}
.listnomargin{
margin-top:0px;
margin-bottom:0px;
}

.resume 
{ 
	font-family: Century Gothic, Arial, Helvetica; 
	font-size:12px; 
	position:relative;
	padding: 0px 10px 0 10px;
}
.resume p { margin:1em 0 }
.resume .subheader { font-weight:bold; }
.resume .left_header { float:left; margin-left:0px; line-height:.75em }
.resume .right_header { float:right; text-align:right; margin-right:10px;}
.resume .summary { clear:both; text-align:center; padding-top:20px; }
.resume .summary table { margin-left:auto; margin-right:auto; }
.resume .summary_left { font-size:12px; padding-right:20px; }
.resume .summary_right { font-size:12px; padding-left:20px; } 
.resume .experience { float:left; width:520px}
.resume .indent1 { padding-left:5px; }
.resume .skills, .resume .goals, .resume .education 
{ 
	float:right; 
	clear:right; 
	width:25%; 
}

.printer_friendly { width:540pt; }
.printer_friendly .resume { font-size: 10pt}
.printer_friendly .summary_left, .printer_friendly .summary_right { font-size: 10pt }
